# Understanding Removed Statements Dataset

Source of data: [GDrive | Removed Stataments of Wikidata | Feb 1 2021](https://drive.google.com/file/d/1TQP1rADdvhDjsvBpLzSE9Bx3n73wf-Md/view?usp=sharing)

Steps performed:
* Divide dataset into 2 halves - redirected and non-redirected. Redirected dataset has either node1 or node2 as redirected. But non-redirected has both node1, node2 not redirected


**Summary**

Removed Statements dataset has 76.5M removed statements. Out of these,

## Redirects determination and division of dataset into 2 halves

* Since, redirects dataset was not present, a SPARQL query was run to determine all the redirects existing at the moment. This was done on Feb 19, 2021. This was executed using [SPARQL query](https://query.wikidata.org/). Query run was:
    ```
    SELECT ?old_node
    WHERE {
      ?old_node owl:sameAs ?new_node.
    }
    ```
* This has few lexemes as well which we don't need. So, I then ran the query:
    ```
    SELECT ?old_node
    WHERE {
      ?old_node owl:sameAs ?new_node.
      ?new_node rdf:type ontolex:LexicalEntry.
    }
    ```
* After removing the lexemes from the nodes file, a final redirected non-lexemes file was created with data from Feb 19, 2021: `data/SPARQL_redirects_non-lexemes.tsv`.
* Using this reduced dataset, I was able to determine in the removed_statements.tsv dataset, which nodes have been redirected - `../opAnalysis/removed_statements_redirects_basis_node1or2.tsv`. This has removed statements in which either node1 or node2 is redirected.
* After this, I am extracting the removed statements not present in this subset meaning it would correspond to all removed statements in neither node1 nor node2 is redirected - `../opAnalysis/removed_statements_both_nonredirects.tsv`

For this, I am using the following set of commands

In [3]:
import pandas as pd
import seaborn as sns

In [ ]:
# On the basis of SPARQL
!kgtk ifexists -i ../../data/removed_statements.tsv\
    --filter-on ../../data/SPARQL_redirects_non-lexemes.tsv \
    --filter-mode NONE \
    --input-keys node1 \
    --filter-keys id \
    -o ../../opAnalysis/removed_statements_redirects_basis_node1.tsv
!kgtk ifnotexists -i ../../data/removed_statements.tsv\
    --filter-on ../../data/SPARQL_redirects_non-lexemes.tsv \
    --filter-mode NONE \
    --input-keys node1 \
    --filter-keys id \
    -o ../../opAnalysis/removed_statements_nonredirects_basis_node1.tsv
!kgtk ifexists -i ../../data/removed_statements.tsv\
    --filter-on ../../data/SPARQL_redirects_non-lexemes.tsv \
    --filter-mode NONE \
    --input-keys node2 \
    --filter-keys id \
    -o ../../opAnalysis/removed_statements_redirects_basis_node2.tsv
!kgtk ifnotexists -i ../../data/removed_statements.tsv\
    --filter-on ../../data/SPARQL_redirects_non-lexemes.tsv \
    --filter-mode NONE \
    --input-keys node2 \
    --filter-keys id \
    -o ../../opAnalysis/removed_statements_nonredirects_basis_node2.tsv
!kgtk ifnotexists -i ../../opAnalysis/removed_statements_redirects_basis_node1.tsv \
    --filter-on ../../opAnalysis/removed_statements_redirects_basis_node2.tsv \
    -o ../../opAnalysis/temp1.tsv
!kgtk cat -i ../../opAnalysis/temp1.tsv \
    ../../opAnalysis/removed_statements_redirects_basis_node2.tsv \
    -o ../../opAnalysis/removed_statements_redirects_basis_node1or2.tsv
!kgtk ifnotexists -i ../../data/removed_statements.tsv\
    --filter-on ../../opAnalysis/removed_statements_redirects_basis_node1or2.tsv \
    -o ../../opAnalysis/removed_statements_both_nonredirects.tsv

## P31 edges distribution

Now, we'll determine in this redirected dataset - `../../opAnalysis/removed_statements_redirects_basis_node1or2.tsv`, how many of these are P31 edges and determine more stats on these

### For Redirected Removed Statements

In [ ]:
!kgtk --debug query -i ../../opAnalysis/removed_statements_redirects_basis_node1or2.tsv \
    --match 'o: (a)-[:P31]->(b)' \
    --return 'b, count(distinct a)' \
    -o ../../opAnalysis/removed_statements_redirects_P31_stats1.tsv

In [4]:
df1 = pd.read_csv('../../opAnalysis/removed_statements_redirects_P31_stats1.tsv',sep='\t')
df1.columns = ['parent','count']
df1 = df1.sort_values(by=['count'],ascending=False)
df1 = df1.set_index('parent')
df1.head(15)

            count
parent
Q4167836   526207
Q17329259  301359
Q5         222809
Q4167410   108583
Q13442814  101156
Q7187       88231
Q11266439   61007
Q4423781    53671
Q17143521   51581
Q15917122   50642
Q486972     49257
Q16521      46522
Q318        26722
Q532        23721
Q20900710   23482

### For non-redirected removed statements

In [ ]:
!kgtk --debug query -i ../../opAnalysis/removed_statements_both_nonredirects.tsv \
    --match 'o: (a)-[:P31]->(b)' \
    --return 'b, count(distinct a)' \
    -o ../../opAnalysis/removed_statements_nonredirects_P31_stats1.tsv

In [5]:
df1 = pd.read_csv('../../opAnalysis/removed_statements_nonredirects_P31_stats1.tsv',sep='\t')
df1.columns = ['parent','count']
df1 = df1.sort_values(by=['count'],ascending=False)
df1 = df1.set_index('parent')

## Properties Distribution

### For redirected removed statements

In [ ]:
!kgtk --debug query -i ../../opAnalysis/removed_statements_redirects_basis_node1or2.tsv \
    --match 'o: (a)-[r]->(b)' \
    --return 'r.label, count(distinct a)' \
    -o ../../opAnalysis/removed_statements_redirects_props_dist.tsv

In [6]:
df1 = pd.read_csv('../../opAnalysis/removed_statements_redirects_props_dist.tsv',sep='\t')
df1.columns = ['parent','count']
df1 = df1.sort_values(by=['count'],ascending=False)
df1 = df1.set_index('parent')
df1.head(15)

          count
parent
P31     2381072
P17      357286
P1433    299464
P735     295778
P50      268412
P2860    243607
P625     227779
P106     185184
P131     183759
P21      179069
P921     167723
P279     162394
P1566    160213
P684     152695
P703     119182

### For non-redirected removed statements

In [ ]:
!kgtk --debug query -i ../../opAnalysis/removed_statements_both_nonredirects.tsv \
    --match 'o: (a)-[r]->(b)' \
    --return 'r.label, count(distinct a)' \
    -o ../../opAnalysis/removed_statements_nonredirects_props_dist.tsv

In [7]:
df1 = pd.read_csv('../../opAnalysis/removed_statements_nonredirects_props_dist.tsv',sep='\t')
df1.columns = ['parent','count']
df1 = df1.sort_values(by=['count'],ascending=False)
df1 = df1.set_index('parent')
df1.head(15)

          count
parent
P2093   6173393
P1476   4238487
P31     3327644
P569    2011539
P625    1494410
P577    1116328
P234     999522
P570     983201
P131     927413
P364     870224
P2044    780870
P279     765112
P969     732461
P356     413439
P637     387091

# Comparison Removed NR dataset with Qnodes, literals

First, let's split this dataset

In [ ]:
from dateutil.parser import parse
import re
import rltk
from rltk.similarity import levenshtein_distance as ld
from nltk.tokenize import word_tokenize as wt

def is_num(string):
    try: 
        float(string)
        return True

    except ValueError:
        return False

f1 = open("../opAnalysis/removed_statements_both_nonredirects.tsv","r").read().split("\n")
fStr = open("../opAnalysis/removed_statements_both_nonredirects_node2_string.tsv","w")
fDat = open("../opAnalysis/removed_statements_both_nonredirects_node2_date.tsv","w")
fQnd = open("../opAnalysis/removed_statements_both_nonredirects_node2_qnode.tsv","w")
fNum = open("../opAnalysis/removed_statements_both_nonredirects_node2_num.tsv","w")
fnonQnd = open("../opAnalysis/removed_statements_both_nonredirects_node2_lit.tsv","w")

fStr.write(f1[0]+"\n")
fDat.write(f1[0]+"\n")
fQnd.write(f1[0]+"\n")
fNum.write(f1[0]+"\n")
fnonQnd.write(f1[0]+"\n")

for i in range(1,len(f1)):
    val1 = f1[i].split("\t")[3]
    if val1.startswith('Q'):
        fQnd.write(f1[i]+"\n")
#     elif bool(re.search("\^\d{11}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z\/\d{,2}",val1)):
    elif val1.startswith("^"):
        fDat.write(f1[i]+"\n")
        fnonQnd.write(f1[i]+"\n")
    elif is_num(val1):
        fNum.write(f1[i]+"\n")
        fnonQnd.write(f1[i]+"\n")
    else:
        fStr.write(f1[i]+"\n")
        fnonQnd.write(f1[i]+"\n")

fQnd.close()
fDat.close()
fNum.close()
fStr.close()
fnonQnd.close()

### String Comparison

In [ ]:
!kgtk query -i ../opAnalysis/removed_statements_both_nonredirects_node2_string.tsv     \
    ../gdrive-kgtk-dump-2020-12-07/claims.string.tsv.gz     \
    --match "r: (x)-[r]->(y), c: (x)-[s]->(z)"     \
    --where "r.label = s.label"     \
    --return 'x, r.label, y, s.label as newNode2Label, z as newNode2'     \
    -o ../opAnalysis/removed_statements_both_nonredirects_str_new_vals.tsv \
    --graph-cache ~/temp2.sqlite3.db

In [ ]:
!sed -i '1s/.*/node1\tlabel\tnode2\tnode2;newLabl\tnode2;nw/' removed_statements_both_nonredirects_str_new_vals.tsv

The strings subset has a branching factor of approx 10. i.e. 1 removed statement with string literal has been replaced by around 10 new statements (with same node1-label combination). Doing the same comparisons won't give us much insights. Instead, let's truncate this dataset while retaining just the counts of branching factor from each of these node1-label combinations.

In [ ]:
!kgtk --debug query -i ../../opAnalysis/removed_statements_both_nonredirects_str_new_vals.tsv \
    --match "(node1)-[r]->(node2{newLabl: newLabel, nw: newValue})" \
    --return 'node1, r.label, node2, newLabel as `node2;newLabel`, max(newValue) as `node2;newValue`, count(newValue) as `node2;branching`' \
    -o ../../opAnalysis/removed_statements_both_nonredirects_str_new_vals_truncated.tsv \
    --graph-cache ~/sqlite3_caches/temptrunc.sqlite3.db

On this truncated dataset, we will next compute the stats and comparisons. Note: Our original string literals subset of removed statements was around 9 GB. With the join operation with claims, this had increased to 90 GB. We have now truncated this dataset to 778 MB

In [ ]:
from dateutil.parser import parse
import re
import rltk
from rltk.similarity import levenshtein_distance as ld
from nltk.tokenize import word_tokenize as wt
from tqdm.notebook import tqdm

f1 = open("../../opAnalysis/removed_statements_both_nonredirects_str_new_vals_truncated.tsv","r")
fStr = open("../../opAnalysis/removed_statements_both_nonredirects_str_new_vals_measured.tsv","w")

firstLine = next(f1).rstrip()

fStr.write(firstLine+"\tVersionBool\tRangeBool\tLevDist\tRearranged\tRearrangedFirstNP\n")

for line in tqdm(f1):
    val1 = line.split("\t")[2]
    val2 = line.split("\t")[4]
    val2 = val2[1:-1]
    versionBool = bool(re.fullmatch("[\d\.]+[\w\s\d]*",val1))
    rangeBool = bool(re.fullmatch("[\d]+[-|–][\d]+",val1))
    LevDist = ld(val1,val2)
    rearranged = set(wt(val1)) == set(wt(val2))
    rearrangedFirstNP = set(wt(val1)) == set(wt(val2[1:]))
    fStr.write(line+ "\t" + str(versionBool) + "\t" + str(rangeBool) + "\t" + \
               str(LevDist) + "\t" + str(rearranged) + "\t" + str(rearrangedFirstNP) + "\n")

fStr.close()

In [10]:
!kgtk ifnotexists -i ../../opAnalysis/removed_statements_both_nonredirects_node2_string.tsv \
    --filter-on ../../opAnalysis/removed_statements_both_nonredirects_str_new_vals_measured.tsv \
    --filter-mode NONE \
    --input-keys label node1 \
    --filter-keys label node1 \
    -o ../../opAnalysis/removed_statements_both_nonredirects_node2_string_unmatched.tsv

list index out of range

In [17]:
!wc -l ../../opAnalysis/removed_statements_both_nonredirects_str_new_vals.tsv

1923347844 ../../opAnalysis/removed_statements_both_nonredirects_str_new_vals.tsv

In [13]:
!wc -l ../../opAnalysis/removed_statements_both_nonredirects_str_new_vals_measured.tsv

14091661 ../../opAnalysis/removed_statements_both_nonredirects_str_new_vals_measured.tsv

In [11]:
!wc -l ../../opAnalysis/removed_statements_both_nonredirects_node2_string_unmatched.tsv

16922586 ../../opAnalysis/removed_statements_both_nonredirects_node2_string_unmatched.tsv

In [35]:
str_df = pd.read_csv("../../opAnalysis/removed_statements_both_nonredirects_str_new_vals_measured.tsv",sep='\t')

In [5]:
str_df.head()

,node1,label,node2,node2;newLabel,node2;newValue,node2;branching,VersionBool,RangeBool,LevDist,Rearranged,RearrangedFirstNP
0,P1003,P1630,http://alephnew.bibnat.ro:8991/F?func=find-b&r...,P1630,http://aleph.bibnat.ro:8991/F/?func=direct&loc...,1,False,False,51,False,False
1,P1004,P1921,http://musicbrainz.org/$1/place,P1921,http://musicbrainz.org/place/$1,1,False,False,6,False,False
2,P1004,P1921,https://musicbrainz.org/place/$1,P1921,http://musicbrainz.org/place/$1,1,False,False,1,False,False
3,P1005,P1630,http://purl.pt/index/geral/aut/PT/$1.html,P1630,http://urn.bn.pt/nca/unimarc-authorities/html?...,3,False,False,31,False,False
4,P1005,P1630,http://urn.bn.pt/nca/unimarc-authorities/txt?i...,P1630,http://urn.bn.pt/nca/unimarc-authorities/html?...,3,False,False,3,False,False

In [15]:
str_df['node2;branching'].mean()

136.48837958054622

In [23]:
str_df['node2;branching'].value_counts().sort_index()

1        2084163
2        1739757
3        1645943
4        1530528
5        1209068
          ...
12813          2
12840          1
13554          1
18192          1
29360          1
Name: node2;branching, Length: 2191, dtype: int64

In [36]:
print(f"Out of {len(str_df)} updates, {str_df['VersionBool'].sum()} correspond to changes due to version change with average branching factor: {str_df[str_df['VersionBool'] == True]['node2;branching'].mean()}")

Out of 14091660 updates, 25167 correspond to changes due to version change with average branching factor: 5.597170898398697

In [29]:
str_df[str_df['VersionBool'] == True].LevDist.describe()

count    25167.000000
mean         4.792625
std          6.162759
min          0.000000
25%          1.000000
50%          2.000000
75%          5.000000
max         63.000000
Name: LevDist, dtype: float64

In [37]:
print(f"Out of {len(str_df)} updates, {str_df['RangeBool'].sum()} correspond to changes due to range change with average branching factor: {str_df[str_df['RangeBool'] == True]['node2;branching'].mean()}")

Out of 14091660 updates, 321952 correspond to changes due to range change with average branching factor: 1.0656495378193023

In [30]:
str_df[str_df['RangeBool'] == True].LevDist.describe()

count    321952.000000
mean          2.343707
std           2.188651
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          47.000000
Name: LevDist, dtype: float64

In [38]:
print(f"Out of {len(str_df)} updates, {str_df['Rearranged'].sum()} correspond to changes due to rearrangement with average branching factor: {str_df[str_df['Rearranged'] == True]['node2;branching'].mean()}")

Out of 14091660 updates, 229782 correspond to changes due to rearrangement with average branching factor: 3.5381753139932632

In [32]:
str_df[str_df['Rearranged'] == True].LevDist.describe()

count    229782.000000
mean          2.934938
std           1.989685
min           0.000000
25%           1.000000
50%           4.000000
75%           4.000000
max          56.000000
Name: LevDist, dtype: float64

In [39]:
str_df.LevDist.describe()

count    1.409166e+07
mean     1.165120e+01
std      5.339850e+00
min      0.000000e+00
25%      9.000000e+00
50%      1.200000e+01
75%      1.400000e+01
max      1.445000e+03
Name: LevDist, dtype: float64

### Dates Comparison

In [ ]:
!kgtk --debug query -i ../opAnalysis/removed_statements_both_nonredirects_node2_date.tsv \
    ../gdrive-kgtk-dump-2020-12-07/claims.tsv.gz \
    --match "a: (x)-[r]->(y), b: (x)-[s]->(z)" \
    --where "r.label = s.label" \
    --return 'x, r.label, y, s.label as newNode2Label, z as newNode2' \
    -o ../opAnalysis/removed_statements_both_nonredirects_date_new_vals.tsv

In [1]:
from dateutil.parser import parse
import re
import rltk
from rltk.similarity import levenshtein_distance as ld
from nltk.tokenize import word_tokenize as wt
from tqdm.notebook import tqdm

f1 = open("../../opAnalysis/removed_statements_both_nonredirects_new_vals_date.tsv","r").read().split('\n')
fStr = open("../../opAnalysis/removed_statements_both_nonredirects_new_vals_date_measured.tsv","w")

firstLine = f1[0]

fStr.write(firstLine+"\tSameDate\n")

for i in tqdm(range(1, len(f1)-1)):
    line = f1[i]
    val1 = line.split("\t")[2]
    val2 = line.split("\t")[4]
    val2 = val2[1:-1]
    versionBool = bool(re.fullmatch("[\d\.]+[\w\s\d]*",val1))
    rangeBool = bool(re.fullmatch("[\d]+[-|–][\d]+",val1))
    LevDist = ld(val1,val2)
    rearranged = set(wt(val1)) == set(wt(val2))
    rearrangedFirstNP = set(wt(val1)) == set(wt(val2[1:]))
    fStr.write(line+ "\t" + str(versionBool) + "\t" + str(rangeBool) + "\t" + \
               str(LevDist) + "\t" + str(rearranged) + "\t" + str(rearrangedFirstNP) + "\n")

fStr.close()

  0%|          | 0/3326867 [00:00<?, ?it/s]

In [4]:
date_df = pd.read_csv("../../opAnalysis/removed_statements_both_nonredirects_new_vals_date_measured.tsv",sep='\t')

In [6]:
date_df.head()

,,,,node1,label,node2,newNode2Label,newNode2,SameBool,SameDate
Q1004723,P569,^00000001887-00-00T00:00:00Z/9,P569,^1887-01-01T00:00:00Z/9,False,False,False,11,False,False
Q102084,P569,^00000001093-00-00T00:00:00Z/9,P569,^1093-01-01T00:00:00Z/9,False,False,False,11,False,False
Q10272460,P570,^00000001917-00-00T00:00:00Z/9,P570,^1919-03-06T00:00:00Z/11,False,False,False,12,False,False
Q10289892,P569,^00000001953-00-00T00:00:00Z/9,P569,^1953-01-01T00:00:00Z/9,False,False,False,11,False,False
Q1029352,P569,^00000001893-00-00T00:00:00Z/9,P569,^1893-01-20T00:00:00Z/11,False,False,False,11,False,False

### Numeric Values Comparison

In [ ]:
from dateutil.parser import parse
import re
import rltk
from rltk.similarity import levenshtein_distance as ld
from nltk.tokenize import word_tokenize as wt
from tqdm.notebook import tqdm

def is_num(string):
    try: 
        float(string)
        return True

    except ValueError:
        return False
    
f1 = open("../../opAnalysis/removed_statements_both_nonredirects_num_new_vals.tsv","r").read().split("\n")
fNum = open("../../opAnalysis/removed_statements_both_nonredirects_num_new_vals_measured.tsv","w")

firstLine = f1[0]

fNum.write(firstLine+"\tDiff\tLevDist\n")
# fnonQnd.write(f1[0]+"\n")

for i in tqdm(range(1,len(f1))):
    line = f1[i]
    val1 = line.split("\t")[2]
    val2 = line.split("\t")[4]
    if is_num(val2):
        diff = float(val2) - float(val1)
        fNum.write(line+ "\t" + str(diff) + "\tNone\n")
    else:
        LevDist = ld(val1,val2)
        fNum.write(line+ "\tNone\t" + str(LevDist) + "\n")

fNum.close()

In [5]:
num_df = pd.read_csv("../../opAnalysis/removed_statements_both_nonredirects_num_new_vals_measured.tsv",sep='\t')

/nas/home/kshenoy/miniconda3/envs/kgtkEnv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
num_df.head()

       node1  label    node2 newNode2Label newNode2     Diff LevDist
0   Q1067235  P1083  25000.0         P1083   +21000  -4000.0    None
1   Q1067235  P1083  25000.0         P1083   +41000  16000.0    None
2  Q13501891  P1352    450.0         P1352     +437    -13.0    None
3  Q13501891  P1352    450.0         P1352     +534     84.0    None
4  Q13501891  P1352    450.0         P1352       +8   -442.0    None

In [2]:
# !kgtk query -i ../../opAnalysis/removed_statements_both_nonredirects.tsv \
#     ../gdrive-kgtk-dump-2020-12-07/claims.tsv.gz \
#     --match "r: (x)-[r]->(y), c: (x)-[s]->(z)" \
#     --where "r.label = s.label" \
#     --return 'x, r.label, y, s.label as node2;newLabl, z as node2;nw' \
#     -o ../../opAnalysis/removed_statements_both_nonredirects_new_vals.tsv

^C